.conteaner_todo {
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
}
.conteaner_todo h2 {
  text-align: center;
}
.conteaner_todo h2 img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 50px;
}

.category_prority {
  display: flex;
  gap: 5px;
}

.category_prority > div {
  margin: auto 0px;
}

.category_prority p {
  font-size: 17px;
  font-weight: bold;
}

.input_task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(150, 153, 153);
  padding-left: 30px;
  margin-bottom: 25px;
  border-radius: 50px;
}
.input_task input {
  padding: 10px;
  flex: 1;

  padding: 10px;
  background: transparent;
  font-weight: bold;
  font-size: 17px;

  border: none;
  outline: none;
}

.input_task button {
  padding: 16px 80px;
  cursor: pointer;
  background-color: #3c86ff;
  color: black;
  font-size: 16px;
  font-weight: bold;

  border-radius: 40px;
  border: none;
  outline: none;
}

.categoryProrityBtn {
  display: flex;
  gap: 25px;
}
.categoryProrityBtn button {
  padding: 10px;
  border-radius: 40px;
  background-color: #3c86ff;
  font-size: 17px;
  font-weight: bold;

  outline: none;
  border: none;
}
